@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Database access has already been done on Nov 28, 2024, by Vivek Kundaliya 301311622</a>.</p>
</div>
